{{!-- 400.hbs
//    -------
//    Custom '400 Bad Request' view --}}

<div class="jumbotron">
	<div class="container">
		<div class="d-md-flex flex-row">
			<h1 class="display-4 CdResp mb-0 pr-3">
				400
			</h1>
			<div class="BordDk border-md-left pl-md-3">
				<h1 class="display-4">
					Bad request
				</h1>
				<div class="lead">
					{{#if Msg}}
					{{Msg}}
					{{else}}
					Your request is invalid.
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>