{{!-- pInstructPrint.hbs
//    ------------------
//    Printing instruction text --}}

When printing, you will obtain better results if you set half-inch margins and
enable 'background graphics' in your browser's print options. It may also be
necessary to adjust the <span class="font-weight-semi">Scale</span> setting.