{{!-- producer-reports.hbs
// ---------------------
// Producer Reports view
// 
// The Producer Reports app can be found: https://github.com/foodfoundation/ifcom-producer-reports
// It is a simple React app that expects the data to be located at window.ProducerData
// todo: improve passing the data as top level properties and make the naming more generic --}}

<link rel="stylesheet" href="{{hPrefixStatic 'producers-report-assets/index.css'}}">

<script type="application/javascript">
  const fields = [
  {
    name: "QtyDeliv",
    displayName: "Quantity",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "saleSource",
    displayName: "Source",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "SaleNom",
    displayName: "Nominal Sale",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "TaxSale",
    displayName: "Sale Tax",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "FeeCoop",
    displayName: "Market Fee",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "FeeCoopForgiv",
    displayName: "Market-Fee Forgiv",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "IDCyc",
    displayName: "Cycle",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {{!-- {
    name: "WhenStartCyc",
    displayName: "Cycle Start",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "WhenEndCyc",
    displayName: "Cycle End",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  }, --}}
  {
    name: "IDVty",
    displayName: "Variety",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "IDProduct",
    displayName: "Product ID",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "NameProduct",
    displayName: "Product",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "NameCat",
    displayName: "Category",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "NameSubcat",
    displayName: "Subcategory",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "IDMemb",
    displayName: "Customer ID",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "CustomerName",
    displayName: "Customer",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "CustEmail",
    displayName: "Email",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  },
  {
    name: "CustPhone",
    displayName: "Phone",
    inputFilterable: true,
    exactFilterable: true,
    sortable: true
  }
  ];
  const data = {{{ ProducerData }}};
  window.ProducerData = { fields, data: data || []};
</script>

<div class="p-4">
  <div id="root"></div>
  <script src="{{hPrefixStatic 'producers-report-assets/index.js'}}"></script>
</div>
