{{!-- producer-reports.hbs
// ---------------------
// Producer Reports view
// 
// The Producer Reports app can be found in the producers-report/ folder
// This is a React app that fetches data from the /producer-reports/data API endpoint
// with pagination, filtering, and a loading screen.
// The API endpoint enforces producer ID from server session for security. --}}

<link rel="stylesheet" href="{{hPrefixStatic 'producers-report-assets/index.css'}}">

<script type="application/javascript">
  // Configuration for the React app
  window.ReportsConfig = {
    apiEndpoint: '/producer-reports/data',
    // Hide producer columns since this is a producer-specific view
    hiddenColumns: ['IDProducer', 'Producer']
  };
</script>

<div class="p-4">
  <div id="root"></div>
  <script src="{{hPrefixStatic 'producers-report-assets/index.js'}}"></script>
</div>
