{{!-- hub-reports.hbs
// ---------------------
// Hub Reports view
// 
// The Producer Reports app can be found in the producers-report/ folder
// This is a React app that fetches data from the /hub-reports/data API endpoint
// with pagination, filtering, and a loading screen. --}}

<link rel="stylesheet" href="{{hPrefixStatic 'producers-report-assets/index.css'}}">

<script type="application/javascript">
  // Configuration for the React app
  window.ReportsConfig = {
    apiEndpoint: '/hub-reports/data',
    // Show all columns for hub view
    hiddenColumns: []
  };
</script>

<div class="p-4">
  <div id="root"></div>
  <script src="{{hPrefixStatic 'producers-report-assets/index.js'}}"></script>
</div>
