{{!-- acknowledgments.hbs
//    -------------------
//    Acknowledgments view --}}

<div class="w-lg-50 container-md py-4">
	<h3 class="mb-3">Acknowledgments</h3>

	<ul class="Spread">
		<li>
			Website built with <a href="https://jquery.com/">jQuery</a>,
			<a href="https://getbootstrap.com/">Bootstrap</a>, and more than a dozen
			server-side libraries, all open source.
		</li>
		<li>
			Shopping App open-sourcing project in collaboration with Neonjelly Studio.
		</li>
		<li>
			Online Shopping Cart development and open sourcing fund supported by Cultivate: Local Food Connections and made possible in part by the USDA Farmers Market Promotion Program.
		</li>
		<li>
			Donations to support our open source work can be made at <a href="http://cultivatefoodconnections.org/donate">cultivatefoodconnections.org/donate</a>.
		</li>
	</ul>
	<div>
		Several files covered by the
		<a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons
		Attribution 3.0 Unported</a> license.
	</div>
	<div class="mt-2">
		Thanks to everyone who contributed!
	</div>
</div>
