{{!-- pTblVtyShop.hbs
//    ---------------
//    Variety table for shoppers --}}

<div class="GridTbl Head d-none d-md-block">
	<div class="row font-weight-bold">
		<div class="col-6 col-lg-7">{{t "common:cart.variety"}}</div>
		<div class="col text-right">{{t "common:shop.price"}}</div>
		<div class="col text-right">{{t "common:cart.avail"}}</div>
		<div class="col-2"></div>
		
	</div>
</div>
<div class="GridTbl Body">
	{{#each this}}
	<div id="RowTblVty{{IDVty}}" class="Row">
		{{>Shop/pRowTblVtyShop}}
	</div>
	{{/each}}
</div>
